@charset "UTF-8";
body,
html {
  width: 100%;
  height: 100%;
  background: #efeff4;
  -webkit-overflow-scrolling: touch; }

.text_orange {
  color: #fe9b43 !important; }

.text_green {
  color: #19bd0d !important; }

.text_999 {
  color: #999 !important; }

.text_333 {
  color: #333 !important; }

.text_red {
  color: red !important; }

body .opacity_6 {
  opacity: 0.6 !important;
  filter: alpha(opacity=60) !important;
  color: #BADCF5 !important; }

.text_666 {
  color: #666 !important; }

.text_blue {
  color: #4399fe !important; }

.common_bg_blue {
  background: #edf5ff !important; }

.common_bg_999 {
  background: #f0f0f0 !important; }

.common_bg_green {
  background: #e8ffe7 !important; }

.btn {
  display: block;
  font: 0.25rem/0.71rem "微软雅黑";
  margin: 0 auto;
  width: 6.7rem;
  text-align: center;
  border-radius: 0.08rem; }

.btn_default {
  background: #f0f0f0;
  color: #a6a6a6; }

.text-fff {
  color: #fff !important; }

.btn_blue {
  color: #fff !important;
  background: #4399fe !important; }

.btn_green {
  background: #99fccf;
  color: #fff; }

.wrap {
  width: 100%;
  height: 100%; }

@media (min-width: 750px) {
  .wrap {
    width: 7.5rem;
    margin: 0 auto;
    height: 100%; } }

.active {
  overflow: hidden; }

.active .zy_index {
  left: -70%; }

.active .zy_index .mask {
  display: block; }

.active .zy_aside {
  visibility: visible !important; }

.aside {
  -webkit-transition: 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 350ms cubic-bezier(0.165, 0.84, 0.44, 1); }

@keyframes scale {
  0% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

@-o-keyframes scale {
  0% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

.bodyOn {
  height: 100%;
  overflow: hidden; }

.toast {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  transition: .3s ease-in; }

.one .cancel {
  display: none !important; }

.one .confirm {
  display: block;
  float: none;
  margin: 0 auto; }

.toast .toast_box {
  width: 5.35rem;
  height: 2.49rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 0.22rem;
  overflow: hidden;
  animation: scale ease-in-out .3s; }

.toast .toast_box dl {
  padding: 0.37rem 0 0.33rem 0; }

.toast .toast_box dl dt {
  font: 0.3rem/0.52rem "微软雅黑";
  color: #333;
  font-weight: bold;
  text-align: center; }

.toast .toast_box dl dd {
  font: 0.23rem/0.45rem "微软雅黑";
  color: #333;
  text-align: center; }

.toast .toast_box .btn_box {
  border-top: 0.01rem solid #e3e3e3;
  height: 0.82rem; }

.toast .toast_box .btn_box a {
  background: #fff;
  font: 0.29rem/0.81rem "微软雅黑";
  text-align: center;
  width: 2.67rem;
  font-weight: bold; }

.toast .toast_box .btn_box .cancel {
  width: 2.63rem;
  color: #4399fe;
  border-right: 0.01rem solid #e3e3e3; }

.toast .toast_box .btn_box .confirm {
  color: #f52e2b; }

.toast_hide {
  visibility: hidden; }

.show {
  display: block; }

@keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@-moz-keyframes opacity2 {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }

.card {
  margin: 0.19rem 0.2rem;
  background: #fff;
  border-radius: 0.08rem;
  padding-bottom: 0.2rem; }

.card h2 {
  padding-left: 0.64rem;
  font: 0.22rem/0.64rem "微软雅黑";
  background: #d8e3f0 url(../images/index_lb.png) no-repeat 0.22rem center;
  background-size: 0.28rem;
  font-weight: bold;
  color: #4399fe; }

.card .zy_tab {
  background: #d8e3f0; }

.card .zy_tab li {
  width: 33.3%;
  height: 0.62rem;
  border-bottom: 0.01rem solid transparent;
  font: 0.22rem/0.62rem "微软雅黑";
  text-align: center; }

.card .zy_tab li a {
  color: #aaadb1; }

.card .zy_tab .on {
  border-bottom: 1px solid #4399fe;
  font-weight: bold; }

.card .zy_tab .on a {
  color: #4399fe; }

.card .tab_content .tab_box .per {
  width: 6.67rem;
  margin: 0.2rem auto;
  border: 0.01rem solid #cccccc;
  border-radius: 0.04rem; }

.card .tab_content .tab_box .contact_us {
  border-top: 0.4rem solid #f3f3f3; }
  .card .tab_content .tab_box .contact_us dl {
    background: #fff; }
    .card .tab_content .tab_box .contact_us dl dt {
      font: .24rem/.4rem "微软雅黑";
      color: #666;
      padding: .2rem;
      border-bottom: .02rem solid #ccc; }
      .card .tab_content .tab_box .contact_us dl dt span, .card .tab_content .tab_box .contact_us dl dt em {
        font: .24rem/.4rem "微软雅黑"; }
    .card .tab_content .tab_box .contact_us dl dd {
      width: 100%;
      margin-top: .2rem; }
      .card .tab_content .tab_box .contact_us dl dd p {
        font: .34rem/.4rem "微软雅黑";
        color: #666;
        text-align: center;
        font-weight: bold; }
        .card .tab_content .tab_box .contact_us dl dd p img {
          width: 100%; }
      .card .tab_content .tab_box .contact_us dl dd .code {
        border: .02rem solid #ccc;
        border-radius: .06rem;
        margin: .1rem auto;
        width: 47%;
        padding: .1rem; }

.card .tab_content .tab_box .per .zy_input {
  position: relative;
  padding: 0.14rem 0; }

.card .tab_content .tab_box .per .zy_input input,
.card .tab_content .tab_box .per .zy_input label {
  font: 0.24rem/0.42rem "微软雅黑";
  display: block;
  width: 70%;
  padding-left: 4%; }

.card .tab_content .tab_box .per .zy_input label {
  width: 17%;
  text-align: right;
  color: #666; }

.card .tab_content .tab_box .per p {
  padding: 0.14rem 0;
  position: relative; }

.card .tab_content .tab_box .per p span,
.card .tab_content .tab_box .per p em {
  font: 0.24rem/0.42rem "微软雅黑"; }

.card .tab_content .tab_box .per p span {
  width: 1.42rem;
  padding-left: 0.27rem;
  color: #666; }

.card .tab_content .tab_box .per p em {
  width: 4.38rem;
  color: #333; }

.card .tab_content .tab_box .per p .paddingL {
  padding-left: 0.27rem; }

.card .tab_content .tab_box .per p em input {
  width: 3.38rem;
  color: #333;
  line-height: 0.42rem; }

.card .tab_content .tab_box .per p em .shangpin_tishi {
  font-size: 0.20rem;
  line-height: 0.38rem;
  position: absolute;
  color: #eb5e5e;
  top: 0.14rem;
  right: 0.2rem; }

.card .tab_content .tab_box .per p .price {
  color: #ff2727; }

.card .tab_content .tab_box .per p .price b {
  font-size: 0.12rem; }

.card .tab_content .tab_box .per p strong {
  font-size: 0;
  text-align: center;
  vertical-align: top; }

.card .tab_content .tab_box .per p strong button,
.card .tab_content .tab_box .per p strong input {
  display: inline-block;
  vertical-align: top;
  font: 0.2rem/0.62rem "微软雅黑"; }

.card .tab_content .tab_box .per p strong button,
.card .tab_content .tab_box .per p strong input {
  width: 0.92rem;
  height: 0.62rem;
  background: #f9f9f9;
  color: #a6a9ae;
  text-align: center;
  padding: 0;
  border: 0.01rem solid #cccccc;
  border-radius: 0.04rem; }

.card .tab_content .tab_box .per p strong button,
.card .tab_content .tab_box .per p strong input[disabled] {
  color: #000; }

.card .tab_content .tab_box .per p strong input {
  width: 2.85rem;
  height: 0.6rem;
  line-height: 0.6rem;
  background: #eeefef;
  margin: 0 0.12rem; }

.card .tab_content .tab_box .per p i {
  width: 0.58rem;
  position: relative;
  height: 0.42rem; }

.card .tab_content .tab_box .per p i img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 0.1rem; }

.card .tab_content .tab_box .per .tab_info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 1000; }

.card .tab_content .tab_box .per .tab_info .goods {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff; }

.card .tab_content .tab_box .per .tab_info .goods ul {
  max-height: 6.54rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.card .tab_content .tab_box .per .tab_info .goods h4,
.card .tab_content .tab_box .per .tab_info .goods li {
  font: 0.27rem/0.8rem "微软雅黑";
  color: #333;
  text-align: left;
  padding: 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 0.01rem solid #e3e3e3; }

.card .tab_content .tab_box .per .tab_info .goods h4 {
  text-align: center;
  font-weight: bold; }

.card .tab_content .tab_box .per .tab_info .goods .on {
  background: #d9ebff;
  color: #4399fe; }

.card .tab_content .tab_box .per .tab_info .goods .btn {
  margin: 0;
  width: 100%;
  font: 0.27rem/0.8rem "微软雅黑"; }

.card .tab_content .tab_box .order_per {
  width: 6.6rem;
  margin: 0.2rem auto;
  background: #fff;
  border-radius: 0.08rem;
  padding: 0.14rem 0.26rem; }

.card .tab_content .tab_box .order_per h3 {
  font: 0.24rem/0.4rem "微软雅黑";
  color: #333; }

.card .tab_content .tab_box .order_per h3 span {
  width: 1.2rem; }

.card .tab_content .tab_box .order_per h3 em {
  width: 4.55rem; }

.card .tab_content .tab_box .order_per .order_infor {
  position: relative;
  padding-bottom: 0.46rem; }

.card .tab_content .tab_box .order_per .order_infor dl dt {
  margin-bottom: 0.16rem; }

.card .tab_content .tab_box .order_per .order_infor dl dt,
.card .tab_content .tab_box .order_per .order_infor dl dd {
  font: 0.24rem/0.4rem "微软雅黑";
  color: #a0a0a0; }

.card .tab_content .tab_box .order_per .order_infor dl dt span,
.card .tab_content .tab_box .order_per .order_infor dl dd span {
  width: 1.2rem; }

.card .tab_content .tab_box .order_per .order_infor dl dt em,
.card .tab_content .tab_box .order_per .order_infor dl dd em {
  width: 4.55rem; }

.card .tab_content .tab_box .order_per .order_infor .on dd {
  height: 0;
  overflow: hidden; }

.card .tab_content .tab_box .order_per .order_infor .settings {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

.card .tab_content .tab_box .order_per .order_infor .settings li {
  font: 0.23rem/0.37rem "微软雅黑";
  color: #4399fe; }

.card .tab_content .tab_box .order_per .order_infor .settings li i {
  text-decoration: underline; }

.card .tab_content .tab_box .order_per .order_infor .settings li span {
  font: 0.2rem/0.39rem "微软雅黑"; }

.card .tab_content .tab_box .order_per .order_infor .settings li .btn {
  width: 1.02rem;
  height: 0.37rem;
  border: 0.01rem solid #4399fe;
  margin: 0;
  font: 0.2rem/0.37rem "微软雅黑";
  background: #fff;
  color: #4399fe; }

.card .tab_content .tab_box .spsl {
  border: none; }

.card .tab_content .tab_box .spsl span {
  line-height: 0.62rem; }

.card .tab_content .tab_box .bg_gray {
  background: #f3f3f3; }

.card .tab_content .tab_box .btn {
  margin: 0.2rem auto;
  border: none;
  outline: none; }

.card .tab_content .tab_box .btn span {
  width: 0.71rem;
  height: 0.71rem;
  line-height: 0.71rem;
  display: inline-block;
  position: relative;
  vertical-align: top; }

.card .tab_content .tab_box .btn img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 0.34rem; }

.card .tab_content .search_order {
  padding: 0.16rem 0;
  background: #f3f3f3; }

.card .card_content li {
  padding: 0.11rem 0;
  border-top: 0.01rem solid #e3e3e3; }

.card .card_content li a span {
  width: 0.1rem;
  height: 0.1rem;
  margin: 0.14rem 0.18rem;
  background: red;
  border-radius: 0.05rem; }

.card .card_content li a .bg_yellow {
  background: #ffa726; }

.card .card_content li a .bg_green {
  background: #86c042; }

.card .card_content li a .bg_red {
  background: #f25252; }

.card .card_content li a .bg_blue {
  background: #42c095; }

.card .card_content li a p {
  font: 0.24rem/0.30rem "微软雅黑";
  color: #333;
  padding: 0 .22rem; }

.safe {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999; }

.safe dl {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;
  right: 0;
  bottom: 0;
  margin: auto; }

.safe dl dd {
  margin-top: 0.50rem;
  width: 100%; }

.safe dl dd img {
  margin: 0 auto;
  height: 0.6rem; }

.zy_aside {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  min-height: 100%;
  background: #333;
  -webkit-overflow-scrolling: touch;
  right: 0;
  visibility: hidden; }

.zy_aside .box {
  position: relative;
  width: 100%;
  background: #fff;
  height: 100%; }

.zy_aside .box .aside_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.32rem 0; }

.zy_aside .box .aside_top h2 {
  font: 0.22rem/0.72rem "微软雅黑";
  color: #999;
  margin: 0 0.27rem; }

.zy_aside .box .aside_top .sys_box dl {
  margin-bottom: 0.06rem;
  border-top: 0.01rem solid #e3e3e3;
  margin: 0.14rem 0.27rem; }

.zy_aside .box .aside_top .sys_box dl dt {
  font: 0.26rem/0.45rem "微软雅黑";
  padding-top: 0.14rem;
  color: #333;
  font-weight: bold;
  position: relative; }

.zy_aside .box .aside_top .sys_box dl dt em {
  font-weight: bold; }

.zy_aside .box .aside_top .sys_box dl dt .btn {
  width: 0.74rem;
  height: 0.33rem;
  display: none;
  font: 0.16rem/0.33rem "微软雅黑";
  color: #4399fe;
  background: #b4d6ff;
  border: 0.01rem solid #4399fe;
  margin-top: 0.06rem;
  margin-left: 0.1rem; }

.zy_aside .box .aside_top .sys_box dl dd {
  font: 0.22rem/0.34rem "微软雅黑";
  color: #999; }

.zy_aside .box .aside_top .sys_box .on dt .btn {
  display: block; }

.zy_aside .box .aside_bot {
  position: absolute;
  left: 0;
  padding: 0 0.27rem;
  bottom: 0.5rem; }

.zy_aside .box .aside_bot dl dt {
  font: 0.23rem/0.41rem "微软雅黑";
  color: #999; }

.zy_aside .box .aside_bot dl dd {
  font: 0.2rem/0.4rem "微软雅黑";
  color: #333; }

.zy_logo {
  width: 100%;
  height: 1.58rem;
  position: relative;
  margin-bottom: 0.09rem; }

.zy_logo img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 0.78rem; }

.zy_tab_top {
  padding: 0.6rem 0;
  text-align: center;
  height: 0.67rem;
  font-size: 0; }

.zy_tab_top a {
  display: inline-block;
  vertical-align: top;
  font: 0.25rem/0.61rem "微软雅黑";
  margin: 0 0.84rem;
  color: #999;
  font-weight: bold;
  padding: 0 0.18rem;
  border-bottom: 0.03rem solid transparent;
  border-top: 0.03rem solid transparent; }

.zy_tab_top .on {
  color: #4399fe;
  border-bottom: 0.03rem solid #4399fe;
  transition: .3s ease-in; }

.zy_infor {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto; }

@media (min-width: 750px) {
  body {
    overflow: auto !important; }
  .zy_infor .box {
    width: 1500px; }
  .card .tab_content .tab_box .per {
    position: relative; }
    .card .tab_content .tab_box .per .tab_info {
      height: auto;
      top: 0.8rem;
      width: 75%;
      border: .01rem solid #ccc;
      border-radius: .08rem;
      overflow: hidden;
      left: auto;
      right: 0; }
      .card .tab_content .tab_box .per .tab_info .goods {
        position: initial; }
        .card .tab_content .tab_box .per .tab_info .goods h4 {
          font: 0.14rem/0.35rem "微软雅黑"; }
        .card .tab_content .tab_box .per .tab_info .goods ul {
          max-height: 1.54rem; }
          .card .tab_content .tab_box .per .tab_info .goods ul li {
            font: 0.14rem/0.35rem "微软雅黑";
            cursor: pointer; }
          .card .tab_content .tab_box .per .tab_info .goods ul li:hover {
            background: #d9ebff;
            color: #4399fe; }
        .card .tab_content .tab_box .per .tab_info .goods .btn {
          display: none; } }

.zy_infor .box {
  width: 200%;
  position: relative;
  left: -100%;
  transition: .3s ease-in; }

.zy_infor .zy_tab_infor {
  width: 46%;
  margin: 0 2%; }

.zy_infor .zy_tab_infor p {
  border: 1px solid #ccc;
  padding: 0.17rem 0;
  border-radius: 0.08rem;
  margin-bottom: 0.2rem; }

.zy_infor .zy_tab_infor p label {
  width: 0.86rem;
  height: 0.34rem;
  background: url(../images/account.png) no-repeat center;
  background-size: 0.3rem; }

.zy_infor .zy_tab_infor p .icon_password {
  background: url(../images/suo.png) no-repeat center;
  background-size: 0.3rem; }

.zy_infor .zy_tab_infor p input {
  width: 5.44rem;
  padding: 0 0.12rem;
  font: 0.2rem/0.34rem "微软雅黑";
  color: #666; }

.zy_infor .zy_tab_infor .zy_agreement {
  font-size: 0; }

.zy_infor .zy_tab_infor .zy_agreement em,
.zy_infor .zy_tab_infor .zy_agreement a {
  font: 0.24rem/0.3rem "微软雅黑";
  color: #333; }

.zy_infor .zy_tab_infor .zy_agreement em {
  margin: 0 0.18rem; }

.zy_infor .zy_tab_infor .zy_agreement a {
  color: #4399fe; }

.zy_infor .zy_tab_infor .zy_agreement input {
  background: url(../images/no.png) no-repeat center;
  width: 0.28rem;
  height: 0.28rem;
  -webkit-appearance: none;
  background-size: 0.28rem; }

.zy_infor .zy_tab_infor .zy_agreement input:checked {
  background: url(../images/yes.png) no-repeat center;
  background-size: 0.28rem; }

.zy_infor .zy_tab_infor button {
  margin-top: 0.4rem; }

.zy_infor .on {
  left: 0rem; }

.zy_other {
  width: 6.37rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem; }

.zy_other .box {
  width: 100%;
  text-align: center;
  font-size: 0; }

.zy_other .box a {
  display: inline-block;
  vertical-align: top; }

.zy_other .box a dl dt {
  width: 2.18rem;
  height: 0.82rem; }

.zy_other .box a dl dt img {
  margin: 0 auto;
  height: 0.82rem; }

.zy_other .box a dl dd {
  font: 0.24rem/0.62rem "微软雅黑";
  font-weight: bold;
  color: #333;
  text-align: center; }

.bg_line {
  width: 100%;
  height: 1.27rem;
  position: relative;
  font-size: 0;
  text-align: center; }

.bg_line p {
  display: inline-block;
  padding: 0 0.4rem;
  font: 0.23rem/1.23rem "微软雅黑";
  color: #666;
  background: #fff;
  position: relative;
  z-index: 2; }

.zy_line {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0.01rem solid #e3e3e3;
  margin: auto;
  z-index: 1; }

.zy_index {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #f3f3f3;
  left: 0;
  height: 100%; }

.zy_index .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  display: none; }

.zy_index header {
  margin: 0 auto;
  height: 0.47rem;
  padding: 0.19rem 0.2rem;
  background: #fff; }

.zy_index header h2 img {
  height: 0.47rem; }

.zy_index header ul {
  position: absolute;
  top: .17rem;
  right: .2rem; }

.zy_index header ul li {
  position: relative;
  margin-left: 0.2rem;
  width: 0.48rem;
  background: #e4effb;
  border-radius: .24rem;
  height: 0.48rem; }

.zy_index header ul .account {
  border-radius: 0.24rem;
  overflow: hidden; }

.zy_index header ul li a img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0.24rem; }

.zy_index header ul .menu a img {
  width: 0.24rem; }

.user_box {
  width: 100%;
  height: 100%;
  background: #fff; }

.commmon_box {
  width: 100%;
  position: relative;
  height: 100%;
  background: #efeff4; }

.choose_system li {
  padding: 0.3rem 0.2rem;
  background: #fff;
  margin: 0.2rem 0; }

.choose_system li span {
  width: 0.66rem;
  height: 0.68rem;
  margin-right: 0.28rem;
  position: relative; }

.choose_system li span img {
  width: 0.66rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.choose_system li div h2,
.choose_system li div p {
  font: 0.26rem/0.36rem "微软雅黑";
  color: #999; }

.choose_system li div h2 {
  color: #333;
  font-weight: bold; }

.choose_system li i {
  height: 0.68rem;
  position: relative;
  width: 0.26rem; }

.choose_system li i img {
  height: 0.26rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.com_right ul li dl {
  padding-top: 26px;
  margin-left: 39px;
  width: 53px; }

.com_right ul li dl dt {
  width: 32px;
  height: 32px;
  background: #e4e2e3;
  border-radius: 16px;
  position: relative; }

.com_right ul li dl dt img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 27px; }

.com_right ul li dl dd {
  font: 13px/27px "微软雅黑";
  color: #333;
  text-align: center; }

.common_head {
  padding: 0 0.2rem;
  height: 0.9rem;
  border-bottom: 0.01rem solid #e3e3e3;
  background: #fff;
  position: relative; }

.common_head span,
.common_head em {
  width: 0.28rem;
  height: 0.9rem;
  position: relative;
  font: .26rem/.9rem "微软雅黑";
  color: #333; }

.common_head em {
  width: auto; }

.common_head span img,
.common_head em img {
  height: 0.3rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.common_head h2 {
  width: 6.5rem;
  text-align: center;
  font: 0.3rem/0.9rem "微软雅黑";
  color: #333; }

.common_head h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 3.2rem; }

.common_info {
  width: 100%;
  margin: 0.2rem 0 0.5rem 0; }

.common_info li {
  margin-bottom: 0.02rem;
  background: #fff;
  padding: 0.25rem 0.2rem; }

.common_info li span {
  font: 0.26rem/0.4rem "微软雅黑";
  color: #333;
  width: 1.5rem;
  text-align: left; }

.common_info li input {
  width: 3.4rem;
  padding: 0;
  font: 0.26rem/0.4rem "微软雅黑";
  text-align: left;
  color: #999; }

.common_info li input:focus {
  color: #333; }

.pc_box {
  width: 1200px;
  padding-top: 153px;
  height: 657px;
  margin: 0 auto; }

.pc_box .content dl {
  padding-top: 115px;
  width: 330px;
  padding-right: 59px; }

.pc_box .content dl dt {
  width: 100%;
  margin-bottom: 23px;
  height: 139px; }

.pc_box .content dl dt img {
  float: right;
  height: 139px; }

.pc_box .content dl dd {
  font: 18px/63px "微软雅黑";
  color: #777;
  text-align: right; }

.pc_box .content dl .big {
  font-size: 39px;
  color: #000000;
  font-weight: bold; }

.pc_box ul li {
  width: 337px;
  height: 481px;
  background: #fff; }

.pc_box ul li dl {
  padding-top: 24px;
  margin-bottom: 48px; }

.pc_box ul li dl dt {
  padding: 57px;
  height: 100px; }

.pc_box ul li dl dt img {
  margin: 0 auto; }

.pc_box ul li dl dd {
  font: 18px/39px "微软雅黑";
  color: #666;
  text-align: center; }

.pc_box ul li dl .big {
  font-size: 25px;
  color: #000;
  font-weight: bold; }

.pc_box ul li a {
  width: 126px;
  height: 42px;
  display: block;
  margin: 0 auto;
  background: #599ef4;
  font: 20px/42px "微软雅黑";
  color: #fff;
  text-align: center;
  border-radius: 21px; }

.pc_box ul .center {
  margin: 0 68px; }

.account_box dl dt,
.account_box dl dd {
  font: 0.24rem/0.76rem "微软雅黑";
  color: #999;
  text-align: left;
  padding: 0 0.2rem;
  height: 0.76rem; }

.account_box dl dd {
  border-top: 0.01rem solid #e3e3e3;
  background: #fff; }

.account_box dl dd em {
  color: #333;
  height: 100%; }

.account_box dl dd em i {
  float: right;
  height: 100%;
  width: 0.4rem;
  position: relative; }

.account_box dl dd em i img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 0.32rem; }

.login_out {
  width: 100%;
  height: 0.9rem;
  margin-top: 0.4rem;
  background: #fff; }

.login_out a {
  display: block;
  font: 0.26rem/0.9rem "微软雅黑";
  text-align: center;
  color: #ff5555; }

.down_box {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative; }

.down_box .wx_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) url(../images/live_weixin.png) no-repeat left top;
  z-index: 9999;
  background-size: contain; }

.down_box dl {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 1.76rem;
  left: 0;
  height: 4.94rem;
  background: url(../images/down_bg.png) no-repeat center;
  background-size: cover; }

.down_box dl dt {
  height: 1.78rem;
  width: 100%;
  padding: 0.38rem 0; }

.down_box dl dt img {
  margin: 0 auto;
  height: 1.78rem; }

.down_box dl dd {
  font: 0.39rem/0.63rem "微软雅黑";
  color: #333;
  font-weight: bold;
  text-align: center; }

.down_box dl .small {
  font-size: 0.27rem;
  font-weight: normal;
  color: #999; }

.down_box .btn_box {
  position: absolute;
  bottom: 0.82rem;
  left: 0;
  width: 100%; }

.down_box .btn_box a {
  display: block;
  width: 3rem;
  height: 0.73rem;
  margin: 0 auto;
  text-align: center;
  font: 0.28rem/0.73rem "微软雅黑";
  background: url(../images/lan.png) no-repeat;
  background-size: cover;
  color: #fff;
  border: 0.03rem solid transparent;
  margin-bottom: 0.36rem;
  border-radius: 0.37rem; }

.down_box .btn_box .open {
  background: #fff;
  color: #45b4fb;
  border-color: #45b4fb; }

.mySelf {
  height: 1.06rem;
  border-bottom: 0 solid #4399fe;
  color: #fff; }
  .mySelf span {
    height: 100%; }
  .mySelf .text-fff {
    font: 0.32rem/1.06rem "微软雅黑"; }

.account_settings {
  background: #4399fe;
  padding: 0.43rem 3%;
  margin: auto; }
  .account_settings .account_settings_subordinate {
    width: 1.95rem;
    height: 0.9rem;
    text-align: center; }
    .account_settings .account_settings_subordinate dt {
      font: 0.34rem/0.4rem "微软雅黑";
      margin-bottom: 0.17rem;
      color: #fff; }
    .account_settings .account_settings_subordinate dd {
      font: 0.23rem/0.33rem "微软雅黑";
      color: #fff; }
  .account_settings .one {
    border-right: 0.01rem solid #82bcfc; }
  .account_settings .btn {
    width: 1.37rem;
    height: 0.56rem;
    line-height: 0.56rem;
    color: #419dff;
    background: #fff;
    margin-top: 0.1rem; }

.accountSettings {
  width: 100%;
  background: #e3e3e3;
  margin-top: .2rem; }
  .accountSettings a {
    float: left;
    height: 1.17rem;
    width: 33.1%;
    background: #ffffff;
    padding: 0.5rem 0 0.56rem 0;
    border-bottom: 0.02rem solid #e3e3e3; }
  .accountSettings dl dt {
    width: 100%;
    height: 0.78rem;
    position: relative; }
    .accountSettings dl dt img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 0.52rem; }
  .accountSettings dl dd {
    font: 0.25rem/0.39rem "微软雅黑";
    text-align: center;
    color: #333; }
  .accountSettings a:nth-child(3n-1) {
    border-left: 0.02rem solid #e3e3e3;
    border-right: 0.02rem solid #e3e3e3; }

.copyUrl {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6);
  transition: .3s ease-in; }
  .copyUrl .box {
    position: relative;
    width: 100%;
    height: 100%; }
  .copyUrl .main {
    width: 94%;
    height: 1.59rem;
    position: absolute;
    overflow: hidden;
    border-radius: .08rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: scale ease-in-out .3s; }
    .copyUrl .main h2 {
      text-align: center;
      height: .72rem;
      position: relative;
      background: #4399fe; }
      .copyUrl .main h2 span {
        display: block;
        text-align: center;
        font: .26rem/.72rem "微软雅黑";
        color: #fff; }
      .copyUrl .main h2 em {
        display: block;
        width: .2rem;
        height: .2rem;
        position: absolute;
        right: .3rem;
        top: .25rem; }
        .copyUrl .main h2 em img {
          position: absolute;
          width: .2rem; }
    .copyUrl .main div {
      height: .87rem;
      padding: 0 .26rem 0 .33rem;
      background: #fff; }
      .copyUrl .main div span {
        width: 5.42rem;
        font: .24rem/.87rem "微软雅黑";
        color: #333; }
      .copyUrl .main div em {
        color: #4399fe;
        font: .24rem/.87rem "微软雅黑"; }

.zy_code {
  position: absolute;
  top: 0.9rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.8rem;
  height: 2.8rem; }
  .zy_code img {
    width: 2.64rem;
    margin: 0 auto; }

.zy_code_text {
  font: .22rem/.32rem "微软雅黑";
  position: absolute;
  bottom: .44rem;
  width: 100%;
  text-align: center;
  color: #999999; }

.common_box {
  padding: .3rem 5.6%; }
  .common_box .box {
    position: relative; }
    .common_box .box h2 {
      position: absolute;
      right: .23rem;
      bottom: .23rem;
      font: .21rem/.3rem "微软雅黑";
      color: #ccc; }
  .common_box textarea {
    width: 90%;
    display: block;
    resize: none;
    height: 2.54rem;
    padding: .11rem 5%;
    border-radius: .08rem;
    font: .26rem/.46rem "微软雅黑";
    color: #ccc;
    margin-bottom: .4rem; }
  .common_box textarea:focus {
    color: #333;
    transition: .3s ease-in; }
  .common_box .substation .per {
    padding: 0 .29rem;
    border-radius: .08rem;
    background: #fff;
    margin-bottom: .4rem; }
    .common_box .substation .per label,
    .common_box .substation .per input {
      font: .22rem/.71rem "微软雅黑";
      height: 0.71rem;
      padding: 0; }
    .common_box .substation .per label {
      margin-right: .48rem;
      color: #666; }
    .common_box .substation .per input {
      color: #999; }
    .common_box .substation .per input:focus {
      color: #666;
      transition: .3s ease-in; }
  .common_box .substation a {
    width: 100%; }
  .common_box .subordinate ul {
    width: 100%; }
    .common_box .subordinate ul li {
      margin-bottom: 0.2rem;
      background: #fff;
      border-radius: 0.06rem;
      padding: .06rem .19rem .26rem .19rem; }
      .common_box .subordinate ul li h2 span {
        font: .29rem/.79rem "微软雅黑";
        color: #333;
        width: 5rem;
        font-weight: bold; }
      .common_box .subordinate ul li h2 em {
        font: .22rem/.79rem "微软雅黑";
        color: #999; }
      .common_box .subordinate ul li dl dt,
      .common_box .subordinate ul li dl dd {
        font: .22rem/.29rem "微软雅黑";
        color: #333;
        padding-left: .4rem; }
      .common_box .subordinate ul li dl dt {
        background: url(../images/zy_clock.png) no-repeat left center;
        background-size: 0.29rem; }
      .common_box .subordinate ul li dl dd {
        background: url(../images/zy_earth.png) no-repeat left center;
        background-size: 0.29rem; }
  .common_box .getcash_user_info {
    width: 100%;
    box-sizing: border-box;
    border: .01rem solid #eee;
    border-radius: .08rem;
    padding: 0.1rem .27rem;
    background: #fff;
    margin-bottom: .3rem; }
    .common_box .getcash_user_info h3 {
      width: 1.01rem;
      height: .74rem;
      position: relative; }
      .common_box .getcash_user_info h3 img {
        height: .4rem;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .common_box .getcash_user_info dl dt,
    .common_box .getcash_user_info dl dd {
      font: .27rem/.4rem "微软雅黑";
      color: #999; }
      .common_box .getcash_user_info dl dt label,
      .common_box .getcash_user_info dl dd label {
        display: block;
        font: .2rem/.5rem "微软雅黑";
        color: #666; }
      .common_box .getcash_user_info dl dt input,
      .common_box .getcash_user_info dl dd input {
        display: block;
        padding: 0 .1rem;
        margin-left: .1rem;
        font: .2rem/.5rem "微软雅黑";
        color: #999;
        border-radius: .06rem; }
      .common_box .getcash_user_info dl dt input:focus,
      .common_box .getcash_user_info dl dd input:focus {
        color: #666; }
    .common_box .getcash_user_info dl dt {
      font-weight: bold;
      color: #333; }
  .common_box .on {
    background: #fff url(../images/true1.png) no-repeat right bottom;
    background-size: .32rem;
    border-color: #4399fe;
    transition: .3s ease-in; }
  .common_box .getcash {
    padding-top: .27rem;
    box-sizing: border-box;
    border: .01rem solid #eee;
    border-radius: .08rem;
    background: #fff; }
    .common_box .getcash h2 {
      font: .21rem/.21rem "微软雅黑";
      color: #999;
      margin-bottom: .35rem;
      padding: 0 0.28rem; }
    .common_box .getcash dl dt, .common_box .getcash dl dd {
      padding: 0 0.28rem; }
    .common_box .getcash dl dt {
      border-bottom: .01rem solid #e3e3e3;
      padding-bottom: .34rem; }
      .common_box .getcash dl dt span {
        font: .42rem/.42rem "微软雅黑";
        color: #333;
        font-weight: bold; }
        .common_box .getcash dl dt span font {
          font-size: .22rem;
          font-weight: bold; }
        .common_box .getcash dl dt span i {
          font-weight: bold; }
          .common_box .getcash dl dt span i input {
            width: 3.6rem;
            font: .42rem/.42rem "微软雅黑"; }
      .common_box .getcash dl dt em {
        font: .22rem/.22rem "微软雅黑";
        color: #fe7b22;
        margin-top: .2rem; }
    .common_box .getcash dl dd {
      font: .21rem/.67rem "微软雅黑";
      color: #666; }
  .common_box a {
    margin-top: .6rem;
    width: 100%; }

.padding_5 {
  padding-left: 2.6%;
  padding-right: 2.6%; }

.historyOfGetCash ul li {
  padding: .17rem .19rem;
  background: #fff;
  border-top: .01rem solid #efeff4; }
  .historyOfGetCash ul li .zy_content dt {
    font-size: 0; }
    .historyOfGetCash ul li .zy_content dt span {
      font: .26rem/.53rem "微软雅黑";
      color: #333;
      margin-right: .22rem; }
    .historyOfGetCash ul li .zy_content dt em {
      display: inline-block;
      vertical-align: top;
      font: .18rem/.18rem "微软雅黑";
      padding: .08rem .15rem;
      margin-top: .1rem;
      border-radius: .04rem;
      text-align: center; }
  .historyOfGetCash ul li .zy_content dd {
    font: .19rem/.33rem "微软雅黑";
    color: #999; }
  .historyOfGetCash ul li .zy_price {
    font: .22rem/.91rem "微软雅黑";
    color: #4499ff;
    font-weight: bold; }

.zy_logo_box {
  position: relative;
  padding-top: 3.27rem; }
  .zy_logo_box .box {
    width: 6.67rem;
    height: 2.21rem;
    margin: 0 auto;
    position: relative;
    background: #fff;
    border: .01rem solid #4399fe;
    border-radius: .08rem;
    margin-bottom: 1.06rem; }
    .zy_logo_box .box .logo_mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      display: none; }
    .zy_logo_box .box .logo_img_box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2; }
      .zy_logo_box .box .logo_img_box img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 3;
        height: 100%; }
    .zy_logo_box .box .btn_logo {
      position: absolute;
      z-index: 5;
      width: 1.56rem;
      height: .55rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font: .24rem/.57rem "微软雅黑";
      color: #69adfe;
      border: .01rem solid #69adfe;
      border-radius: .04rem;
      text-align: center; }
    .zy_logo_box .box input {
      position: absolute;
      z-index: 5;
      width: 1.58rem;
      height: .57rem;
      font: .24rem/.57rem "微软雅黑";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      opacity: 0;
      filter: alpha(opacity=0); }
  .zy_logo_box .zy_logo_confim .btn_gray {
    background: #bbb;
    color: #fff; }
  .zy_logo_box .on .btn_logo {
    color: #fff;
    border-color: #fff; }
  .zy_logo_box .on .logo_mask {
    display: block; }
  .zy_logo_box p {
    position: fixed;
    left: 0;
    bottom: .5rem;
    width: 100%;
    font: .24rem/.24rem "微软雅黑";
    color: #999;
    text-align: center; }

.mySubstation {
  margin: 0.19rem 0.2rem;
  border-radius: 0.08rem;
  overflow: hidden;
  padding: .15rem .33rem;
  background: #fff url(../images/zy_sub.png) no-repeat right center;
  background-size: 2.58rem; }
  .mySubstation h2 {
    font: .31rem/.43rem "微软雅黑";
    color: #333; }
  .mySubstation h3 {
    font: .18rem/.3rem "微软雅黑";
    color: #666;
    margin-bottom: .1rem; }
  .mySubstation p {
    width: 1.21rem;
    font: .17rem/.31rem "微软雅黑"; }

.zy_bind_account ul {
  margin-bottom: .8rem;
  margin-top: .1rem; }
  .zy_bind_account ul li {
    border-top: .01rem solid #efeff4; }
    .zy_bind_account ul li a {
      display: block;
      padding: .32rem .29rem;
      background: #fff; }
      .zy_bind_account ul li a label, .zy_bind_account ul li a input {
        color: #333; }
      .zy_bind_account ul li a label {
        width: 1.81rem;
        font-size: 0.25rem;
        font-family: "微软雅黑"; }
      .zy_bind_account ul li a input {
        width: 4.8rem;
        color: #999;
        font: .25rem/.25rem "微软雅黑";
        padding: 0; }

.payment_box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999999999;
  display: flex;
  /*Flex布局*/
  display: -webkit-flex;
  /* Safari */
  align-items: center; }
  .payment_box .payment_boxs {
    width: 80%;
    position: relative;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 1.2rem; }
    .payment_box .payment_boxs h2 {
      font: .32rem/.5rem "微软雅黑";
      padding: .2rem;
      border-bottom: .01rem solid #e4e2e4;
      color: #333; }
      .payment_box .payment_boxs h2 span, .payment_box .payment_boxs h2 em {
        font-weight: bold; }
    .payment_box .payment_boxs .pay_success {
      font: .22rem/.45rem "微软雅黑";
      color: #666;
      text-align: center;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding-top: 1.2rem; }
      .payment_box .payment_boxs .pay_success dl {
        margin: 0 auto; }
      .payment_box .payment_boxs .pay_success dt {
        margin: 0 auto;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: .3rem; }
      .payment_box .payment_boxs .pay_success dd {
        font: .36rem/.7rem "微软雅黑";
        padding: 0 .2rem; }
        .payment_box .payment_boxs .pay_success dd a {
          width: 2.4rem;
          color: #666;
          margin-top: .2rem; }
      .payment_box .payment_boxs .pay_success .tip {
        font: .24rem/.4rem "微软雅黑"; }
      .payment_box .payment_boxs .pay_success .pay_success1 {
        background: url(../images/chongcheng1.png) no-repeat center;
        background-size: cover; }
      .payment_box .payment_boxs .pay_success .pay_await1 {
        background: url(../images/chongdeng.png) no-repeat center;
        background-size: cover; }
      .payment_box .payment_boxs .pay_success .pay_error1 {
        background: url(../images/chongbai.png) no-repeat center;
        background-size: cover; }
      .payment_box .payment_boxs .pay_success dd {
        font-size: .36rem;
        line-height: .5rem; }
    .payment_box .payment_boxs .pay_title dt {
      padding: 0 20%;
      font: .22rem/.45rem "微软雅黑";
      color: #666;
      margin-top: .2rem;
      text-align: center;
      font-weight: bold; }
    .payment_box .payment_boxs .pay_title dd {
      padding: 0 20%;
      font: .3rem/.45rem "微软雅黑";
      color: #333;
      margin-top: .2rem;
      text-align: center; }
    .payment_box .payment_boxs .zy_code_box dt {
      position: relative;
      margin-top: .2rem; }
      .payment_box .payment_boxs .zy_code_box dt span {
        width: 4rem;
        height: 4rem;
        margin: auto;
        display: block;
        padding: .08rem;
        border: .01rem solid #ccc;
        position: relative; }
        .payment_box .payment_boxs .zy_code_box dt span img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          width: 4rem; }
      .payment_box .payment_boxs .zy_code_box dt em {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        width: 4.16rem;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font: .4rem/4.08rem "微软雅黑"; }
    .payment_box .payment_boxs .zy_code_box dd {
      margin-top: .2rem; }
      .payment_box .payment_boxs .zy_code_box dd p {
        font: .22rem/.45rem "微软雅黑";
        text-align: center;
        color: #666; }
        .payment_box .payment_boxs .zy_code_box dd p span {
          margin: 0 .1rem; }
      .payment_box .payment_boxs .zy_code_box dd h4 {
        vertical-align: top;
        font-size: 0;
        text-align: center;
        color: #666; }
        .payment_box .payment_boxs .zy_code_box dd h4 em, .payment_box .payment_boxs .zy_code_box dd h4 span {
          display: inline-block;
          vertical-align: top;
          margin: 0 .1rem;
          font: .22rem/.45rem "微软雅黑";
          height: .45rem; }
          .payment_box .payment_boxs .zy_code_box dd h4 em img, .payment_box .payment_boxs .zy_code_box dd h4 span img {
            height: 100%; }

.application_brancdt {
  padding: .08rem .2rem; }
  .application_brancdt .substation h2 {
    font: .26rem/.7rem "微软雅黑";
    color: #999;
    text-align: left;
    font-weight: bold; }
  .application_brancdt .substation .box {
    width: 100%;
    height: 1.87rem;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    .application_brancdt .substation .box ul {
      position: absolute;
      width: 9.58rem;
      left: 0;
      right: 0;
      margin: auto; }
    .application_brancdt .substation .box li {
      width: 1.84rem;
      border: .02rem solid transparent;
      float: left;
      margin-right: .18rem;
      background: #fff;
      border-radius: .08rem;
      padding: .38rem .56rem .38rem .56rem; }
      .application_brancdt .substation .box li h3 {
        font: .26rem/.46rem "微软雅黑";
        color: #333;
        font-weight: bold;
        text-align: center; }
      .application_brancdt .substation .box li h4 {
        font: .24rem/.55rem "微软雅黑";
        color: #999;
        text-align: center; }
        .application_brancdt .substation .box li h4 span {
          color: #4399fe;
          font-size: .35rem;
          font-weight: bold;
          margin-right: .12rem; }
    .application_brancdt .substation .box li:nth-child(2) {
      left: 3.18rem; }
    .application_brancdt .substation .box li:nth-child(3) {
      left: 6.36rem; }
    .application_brancdt .substation .box .on {
      border-color: #4399fe;
      background: #fff url(../images/true1.png) no-repeat right bottom;
      background-size: .38rem;
      transition: border-color .3s ease-in; }
  .application_brancdt .box::-webkit-scrollbar {
    display: none; }
  .application_brancdt .information {
    padding-top: .34rem; }
    .application_brancdt .information h2 {
      font: .26rem/.76rem "微软雅黑";
      color: #999;
      font-weight: bold; }
    .application_brancdt .information section {
      margin: 0;
      padding: 0.08rem 0; }
      .application_brancdt .information section input {
        padding: 0; }
      .application_brancdt .information section b {
        top: 0.19rem !important; }
      .application_brancdt .information section .per {
        border-radius: 0.08rem !important; }
      .application_brancdt .information section .ym {
        border: none !important; }
        .application_brancdt .information section .ym .ejym {
          width: 3.48rem;
          border: .02rem solid #cccccc;
          padding: 0.14rem .28rem;
          position: relative;
          border-radius: 0.08rem !important; }
          .application_brancdt .information section .ym .ejym span, .application_brancdt .information section .ym .ejym input {
            font: 0.24rem/0.42rem "微软雅黑"; }
          .application_brancdt .information section .ym .ejym input {
            width: 1.8rem;
            padding: 0; }
          .application_brancdt .information section .ym .ejym span {
            color: #999;
            margin-right: .3rem; }
        .application_brancdt .information section .ym .yms {
          width: 1.84rem;
          border: .02rem solid #cccccc;
          padding: 0.14rem 0.28rem !important;
          position: relative;
          border-radius: 0.08rem !important;
          color: #999 !important; }
          .application_brancdt .information section .ym .yms em {
            width: 1.2rem !important;
            font: 0.24rem/0.42rem "微软雅黑"; }
          .application_brancdt .information section .ym .yms i {
            width: 0.58rem;
            position: relative;
            height: 0.42rem; }
            .application_brancdt .information section .ym .yms i img {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto;
              height: 0.1rem; }
          .application_brancdt .information section .ym .yms .select {
            position: absolute;
            top: .8rem;
            width: 100%;
            background: #fff;
            z-index: 9;
            left: -0.02rem;
            border: .01rem solid #ccc;
            border-radius: .08rem;
            max-height: 2.8rem;
            overflow: auto; }
            .application_brancdt .information section .ym .yms .select h5 {
              font: 0.24rem/0.42rem "微软雅黑";
              padding: 0.14rem 0.28rem;
              color: #666;
              border-bottom: .01rem solid #eee; }
            .application_brancdt .information section .ym .yms .select .active {
              background: #f2f2f2; }
        .application_brancdt .information section .ym .on .select {
          display: block;
          animation: toup .3s both; }

@-webkit-keyframes toup {
  from {
    -webkit-transform: translate3d(0, 30px, 0);
    opacity: .3; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes toup {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: .3; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.detailOfCash {
  width: 100%;
  background: #fff; }
  .detailOfCash .detailOfCash_tab {
    position: relative;
    height: .8rem;
    font-size: 0;
    text-align: center;
    border-bottom: .01rem solid #e3e3e3; }
    .detailOfCash .detailOfCash_tab span {
      width: 33.3%;
      display: inline-block;
      vertical-align: top;
      height: .8rem;
      font: .23rem/.8rem "微软雅黑";
      font-weight: bold;
      color: #333;
      text-align: center;
      border-bottom: .02rem solid transparent;
      transition: color .3s ease-in,border-color .3s ease-in; }
    .detailOfCash .detailOfCash_tab .on {
      color: #318efc;
      border-color: #318efc; }
  .detailOfCash .detailOfCashBox {
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; }
    .detailOfCash .detailOfCashBox ul li {
      padding: .21rem .19rem;
      border-bottom: .01rem solid #e3e3e3; }
      .detailOfCash .detailOfCashBox ul li dl dt {
        font: .28rem/.48rem "微软雅黑";
        font-weight: bold;
        color: #333; }
      .detailOfCash .detailOfCashBox ul li dl dd {
        font: .18rem/.48rem "微软雅黑";
        color: #999; }
      .detailOfCash .detailOfCashBox ul li span {
        font: .2rem/.9rem "微软雅黑"; }

.on .detailOfCash_tab .pay {
  color: #318efc;
  border-color: #318efc; }

.on .detailOfCash_tab .income {
  color: #333;
  border-color: transparent; }

.contantUS {
  width: 100%;
  background: #fff; }
  .contantUS .wx_code {
    height: 6.94rem;
    position: relative; }
    .contantUS .wx_code .logo_mask {
      width: 4.6rem;
      height: 4.6rem;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 4;
      display: none;
      margin: auto;
      margin-top: .8rem; }
    .contantUS .wx_code .click_me {
      width: 100%; }
      .contantUS .wx_code .click_me p, .contantUS .wx_code .click_me input {
        position: absolute;
        z-index: 5;
        width: 2.3rem;
        height: .55rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font: .24rem/.57rem "微软雅黑";
        color: #69adfe;
        border: .01rem solid #69adfe;
        border-radius: .04rem;
        text-align: center;
        margin-top: 2.8rem; }
      .contantUS .wx_code .click_me input {
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 6; }
      .contantUS .wx_code .click_me p {
        z-index: 5; }
    .contantUS .wx_code dl {
      height: 5.34rem;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: none; }
      .contantUS .wx_code dl dt {
        width: 100%;
        height: 4.6rem;
        margin-bottom: .49rem; }
        .contantUS .wx_code dl dt img {
          margin: 0 auto;
          height: 100%; }
      .contantUS .wx_code dl dd {
        font: .26rem/.26rem "微软雅黑";
        color: #999;
        text-align: center; }
  .contantUS .on .click_me p {
    color: #fff;
    border-color: #fff; }
  .contantUS .on .logo_mask {
    display: block; }
  .contantUS .on dl {
    display: block; }
  .contantUS .contant_qq {
    padding: 0 .18rem;
    font: .28rem/.88rem "微软雅黑";
    border-bottom: .02rem solid #e3e3e3; }
    .contantUS .contant_qq span {
      width: 1.75rem;
      color: #999;
      padding-left: .53rem;
      background: url(../images/zy_qqcode.png) no-repeat left center;
      background-size: .32rem; }
    .contantUS .contant_qq i a {
      margin: 0 .1rem;
      color: #333; }
    .contantUS .contant_qq input {
      text-align: right;
      font: .28rem/.88rem "微软雅黑";
      color: #333;
      padding: 0;
      margin-top: -0.01rem;
      margin-right: .1rem; }
  .contantUS .on em {
    display: none; }
  .contantUS .on i {
    display: block; }

.post_message {
  margin-top: .3rem; }
